page-mychats {

	.cards-bg {
		background: color($colors, cardbggray, base);
		border: 1px solid color($colors, daysgreen, base);
	}

	.cards-bg h2 {
		margin-bottom: 10px !important;
	}

	.cards-bg p {
		color: gray;
	}

	.align-right {
		text-align: right;
	}

}
