page-communitycomment {

	ul {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		height: 100%;
  }

  li {
  	padding: 5px 10px;
  }

  .comment {
  	margin-right: 60px;
  }

  .bubble {
		padding: 5px 12px;
		background-color: #ebebeb;
		border-radius: 15px;
		display: inline-block;
  }

  .bubble p {
  	margin: 0px;
  }

  .bubble .name {
  	font-weight: 500;
  	font-size: 13px;
  	margin-bottom: 4px;
  }

  .btn {
  	margin-top: 3px;
  }

  .btn button {
  	color: #606060;
  	font-weight: 500;
  	font-size: 12px;
  }

  .subcommentlist li {
  	padding: 5px 0px;
  }

  .subcomment {
  	margin-left: 50px;
  	margin-right: 10px;
  }

  .commentform {
		background-color: white;
		border: 1px solid #d0d0d0;
		border-radius: 15px;
		padding: 2px 2px 2px 10px !important;
		display: table;
		width: 100%;
	}

	.commentform input {
		border-style: none;
		display: table-cell;
 		vertical-align: middle;
 		margin: 2px 5px 2px 0px;
 		width: 85%;
	}

	.commentform button {
		padding: 0px;
		display: table-cell;
 		vertical-align: middle;
 		float: right;
 		border-radius: 15px;
 		// border: 1px solid #000;
	}

	.commentform img {
		height: 24px;
		vertical-align: middle;
	}

	ion-footer {
		background-color: #e8ede8;
		padding: 3px 8px;
	}

	.footerform {
		background-color: white;
		border: 1px solid #d0d0d0;
		border-radius: 15px;
		padding: 2px 2px 2px 10px !important;
		width: 100%;
		display: table;
	}

	.footerform input {
		border-style: none;
		display: table-cell;
 		vertical-align: middle;
 		margin: 2px 5px 2px 0px;
 		width: 88%;
	}

	.footerform button {
		padding: 0px;
		display: table-cell;
 		vertical-align: middle;
 		float: right;
 		border-radius: 15px;
	}

	.footerform img {
		height: 24px;
		vertical-align: middle;
	}

}
