<!--
  Generated template for the CommunitycommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="daysgreen">
    <ion-title>댓글</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<ul>
		<li *ngFor="let comment of comments">
			<div class="comment">
				<div class="bubble">
					<p class="name">{{ comment.username }}</p>
					<p class="text">{{ comment.text }}</p>
				</div>
				<div class="btn">
					<button (click)="showsubcomment(comment)">답글 달기<span *ngIf="comment.subcommentnum != 0"> - 답글 {{ comment.subcommentnum }}개</span></button>
				</div>
			</div>
			<div *ngIf="comment.showsubcomment">
				<ul class="subcommentlist" *ngIf="comment.subcommentnum != 0">
					<li *ngFor="let subcomment of JSONtoArray(comment.subcomment)">
						<div class="subcomment">
							<div class="bubble">
								<p class="name">{{ subcomment.username }}</p>
								<p class="text">{{ subcomment.text }}</p>
							</div>
						</div>
					</li>
				</ul>
				<div class="subcomment">
					<form [formGroup]="subcommentForm" class="commentform">
						<input formControlName="txt" type="text">
						<button (click)="writeSubcomment(comment)">
							<img src="assets/send.png">
						</button>
					</form>
				</div>
			</div>
		</li>
	</ul>

</ion-content>

<ion-footer>

	<form [formGroup]="commentForm" class="footerform">
		<input formControlName="txt" type="text">
		<button (click)="writeComment()">
			<img src="assets/send.png">
		</button>
	</form>

</ion-footer>
