page-supporterchat {

	.bg {
		background-color: color($colors, bggreen, base);
	}

	ul {
		list-style-type: none;
    margin: 0;
    padding: 5px 0px 0px;
  }

  .chat {
    padding-bottom: 45px !important;
  }

  li {
    overflow: hidden;
  }

  ul img {
  	float: left;
  	position: absolute;
  	width: 40px;
  	height: 40px;
  	margin: 0px 5px;
    padding: 1px;
  }

  .bubble {
    display: inline-block;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #b0b0b0;
    padding: 8px 10px;
    font-size: 13px;
    white-space: pre-line;
    margin: 0px 5px 6px 0px;
    max-width: 200px;
  }

  .gogo {
    color: gray;
    position: relative;
    left: 50px;
    background-color: color($colors, white, base);
  }

  .buddy {
    color: black;
    position: relative;
    left: 50px;
    background-color: color($colors, white, base);
  }

  .me {
    background-color: color($colors, bubblegreen, base);
    color: white;
  }

  .timebuddy {
    color: gray;
    font-size: 10px;
    display: inline-block;
    position: relative;
    left: 46px;
    bottom: -7px;
  }

  .mymsg {
    float: right;
  }

  .time {
    color: gray;
    font-size: 10px;
    position: relative;
    bottom: -7px;
  }

  ion-footer {
    background-color: #e8ede8;
    padding: 3px 8px;
  }

  .footerform {
    background-color: white;
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    padding: 2px 2px 2px 10px !important;
    width: 100%;
    display: table;
  }

  .footerform input {
    border-style: none;
    display: table-cell;
    vertical-align: middle;
    margin: 2px 5px 2px 0px;
    width: 88%;
  }

  .footerform button {
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
    float: right;
    border-radius: 15px;
  }

  .footerform img {
    height: 24px;
    vertical-align: middle;
  }

  .setblack {
    color: black !important;
  }

}
