<!--
  Generated template for the TestdepressionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="daysgreen">
    <ion-title>우울증 자가진단</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<table class="start" *ngIf="!toquestion">
		<div class="outer">
		  <div class="middle">
		    <div class="inner">
		    	<h2>PHQ-9 TEST</h2>
					<p>우울증 자가진단을 시작합니다 :)<br>지금부터 9가지 질문을 드릴 거에요!<br>지난 2주 동안 자신을 가장<br>잘 설명하는 답을 선택해주시면 돼요!</p>
				</div>
			</div>
    </div>
    <tr>
	    <td valign="bottom">
	      <div>
	      	<button (click)="gotoquestions()">검사 시작하기</button>
	      </div>
	    </td>
    </tr>
  </table>

  <table class="question" *ngIf="toquestion && !toresult">
		<div class="outer">
		  <div class="middle">
		    <div class="inner">
					<p>{{ question }}</p>
				</div>
			</div>
    </div>
    <tr>
	    <td valign="bottom">
	      <div id="answers">
	      	<ul *ngFor="let answer of answers">
	      		<li (click)="nextquestion(answer)">
	      			<button>{{ answer }}</button>
	      		</li>
	      	</ul>
	      </div>
	    </td>
    </tr>
  </table>

  <div class="outer" *ngIf="toresult">
	  <div class="middle">
	    <div class="inner">
			  <table class="result">
			    <div class="inner">
			    	<h2>테스트 결과</h2>
						<p class="score">우울증 자가진단 결과 점수는 <span>{{ score }}</span>으로,<br><span>[{{ category }}]</span> 구간에 계세요.</p>
						<p>보다 정확한 진단은 전문가를 통해 진행하시기를 권장해요. 진단 이력은 내 프로필에서 확인하실 수 있어요.</p>
					</div>
			    <tr>
				    <td valign="bottom">
				      <div>
				      	<button (click)="close()">닫기</button>
				      </div>
				    </td>
			    </tr>
			  </table>
  		</div>
		</div>
  </div>
</ion-content>
