<!--
  Generated template for the CharacterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="daysgreen">
    <ion-title>캐릭터</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<div class="text">
		<p>자신을 대신 나타내줄 수 있는<br>캐릭터를 선택해볼까요?</p>
	</div>

	<table class="profiles">
	  <tr>
	    <td align="center">
	    	<div>
	    		<button class="photo" [class.darken]="!p[0]" (click)="changecharacter(0)">
						<img src="assets/profile1.png">
					</button>
					<span *ngIf="p[0]"></span>
		    </div>
	    </td>
	    <td align="center">
	    	<div>
	    		<button class="photo" [class.darken]="!p[1]" (click)="changecharacter(1)">
						<img src="assets/profile2.png">
					</button>
					<span *ngIf="p[1]"></span>
		    </div>
	    </td>
	  </tr>
	  <tr>
	    <td align="center">
	    	<div>
	    		<button class="photo" [class.darken]="!p[2]" (click)="changecharacter(2)">
						<img src="assets/profile3.png">
					</button>
					<span *ngIf="p[2]"></span>
		    </div>
	    </td>
	    <td align="center">
	    	<div>
	    		<button class="photo" [class.darken]="!p[3]" (click)="changecharacter(3)">
						<img src="assets/profile4.png">
					</button>
					<span *ngIf="p[3]"></span>
		    </div>
	    </td>
	  </tr>
	</table>

	<button ion-button block color="daysgreen" (click)="setcharacter()">
    캐릭터 정하기
  </button>

</ion-content>
