page-diary {

	.bg {
		background-color: color($colors, light, base);
	}

	.date {
		padding: 5px 0px 0px;
	}

	.date .valign {
		display: table;
	}

	.date span {
		display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    color: color($colors, bubblegreen, base);
	}

	.date .year {
    padding: 0px 0px 0px 10px;
	}

	.date .month {
    padding: 0px 10px 0px 3px;
	}

	.date button {
		background-color: transparent;
	  padding: 0px;
	}

	.date ion-icon {
	  font-size: 30px;
	}

	.buttonset table {
		width: 100%;
	}

	.buttonset th {
		border-bottom: 3px solid #B6B6B6;
	}

	.buttonset button {
		background-color: transparent;
	}

	.buttonset img {
		width: 42px;
		height: 42px;
		padding: 2px;
	}

	.buttonset p {
		margin: 0px 0px 3px;
		font-size: 13px;
	}

	.buttonset .num {
		font-size: 12px;
		margin-right: 2px;
	}

	.buttonset .denom {
		color: color($colors, gray, base);
		font-size: 11px;
	}

	.borderbottomgreen {
		border-bottom: 3px solid #5EA868 !important;
	}

	.body table {
		width: 100%;
		margin: 2px 0px;
		table-layout: fixed;
	}

	.body td {
	}

	.body div {
		margin: 0px 1px;
		height: 16px;
		line-height: 16px;
		background-color: #dadada;
	}

	.body p {
		margin: 0px;
		vertical-align: middle;
		font-weight: 400;
		font-size: 11px;
	}

	canvas {
	}

	.body2 p {
		margin: 10px 30px;
		padding: 10px 0px;
		border-bottom: 1px solid #000;
		color: color($colors, gray, base);
	}

	.body2 span {
		color: black !important;
	}

}
