<!--
  Generated template for the DiaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="daysgreen">
    <ion-title>28DAYS 다이어리</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg">

	<div align="center" class="date">
		<div class="valign">
			<button (click)="monthprev()">
				<ion-icon name="ios-arrow-dropleft"></ion-icon>
			</button>
			<span class="year">{{year}}</span><span>.   </span><span class="month">{{month}}</span>
			<button (click)="monthnext()">
				<ion-icon name="ios-arrow-dropright"></ion-icon>
			</button>
		</div>
	</div>

	<div class="buttonset">
		<table>
		  <tr>
		    <th [ngClass]="{borderbottomgreen: button1chose}">
		    	<button class="photo" (click)="button1()">
						<img src="{{button1src}}">
						<p>괜찮아</p>
						<span class="num">16</span><span class="denom">/</span><span class="denom">31</span>
					</button>
		    </th>
		    <th [ngClass]="{borderbottomgreen: button2chose}">
		    	<button class="photo" (click)="button2()">
						<img src="{{button2src}}">
						<p>보통이야</p>
						<span class="num">16</span><span class="denom">/</span><span class="denom">31</span>
					</button>
		    </th> 
		    <th [ngClass]="{borderbottomgreen: button3chose}">
		    	<button class="photo" (click)="button3()">
						<img src="{{button3src}}">
						<p>먹었어</p>
						<span class="num">16</span><span class="denom">/</span><span class="denom">31</span>
					</button>
		    </th>
		    <th [ngClass]="{borderbottomgreen: button4chose}">
		    	<button class="photo" (click)="button4()">
						<img src="{{button4src}}">
						<p>점수평균</p>
						<span class="num">19.6</span>
					</button>
		    </th> 
		  </tr>
		</table>
	</div>

	<div class="body" *ngIf="showLineChart">
		<table *ngFor="let dayArray of dayArrays">
			<tr>
				<td *ngFor="let day of dayArray">
					<div align="center">
						<p>{{day}}</p>
					</div>
				</td>
			</tr>
			<canvas #lineCanvas width="300" height="50"></canvas>
		</table>
	</div>

	<div class="body" *ngIf="showLineChart2">
		<table *ngFor="let dayArray of dayArrays">
			<tr>
				<td *ngFor="let day of dayArray">
					<div align="center">
						<p>{{day}}</p>
					</div>
				</td>
			</tr>
			<canvas #lineCanvas2 width="300" height="50"></canvas>
		</table>
	</div>

	<div class="body" *ngIf="showLineChart3">
		<table *ngFor="let dayArray of dayArrays">
			<tr>
				<td *ngFor="let day of dayArray">
					<div align="center">
						<p>{{day}}</p>
					</div>
				</td>
			</tr>
			<canvas #lineCanvas3 width="300" height="30"></canvas>
		</table>
	</div>

	<div class="body2" align="center" *ngIf="showBarChart">
		<p>현재 [<span>우울 극복</span>]에 도전하고 있어요!</p>
		<canvas #barCanvas width="300" height="200"></canvas>
	</div>

</ion-content>
